/* ***************** Table Of Contents ***************** */
/* >>>>>> --------------- *H1 - R:12 */
/* >>>>>> --------------- *H2 - R:16 */
/* >>>>>> --------------- *H3 - R:20 */
/* >>>>>> --------------- *H4 - R:24 */
/* >>>>>> --------------- *TITLE - R:28 */
/* >>>>>> --------------- *TITLE2 - R:31 */
/* >>>>>> --------------- *TITLE - R:33 */
/* >>>>>> --------------- *TITLE - R:35 */
/* >>> end */

/* >>>>>> --------------- *H1 */
.blue {

}
/* >>>>>> --------------- *H2 */
.red {
    color: red;
}
/* >>>>>> --------------- *H3 */
.green {
    color: green;
}
/* >>>>>> --------------- *H4 */
.orange {
    color: orange;
}
/* >>>>>> --------------- *TITLE */
test item
test item 2
/* >>>>>> --------------- *TITLE2 */
item
/* >>>>>> --------------- *TITLE */
test
/* >>>>>> --------------- *TITLE */
