/* ***************** Table Of Contents ***************** */
/* >>>>>> --------------- *H1 - R:9 */
/* >>>>>> --------------- *H2 - R:18 */
/* >>>>>> --------------- *H3 - R:25 */
/* >>>>>> --------------- *H4 - R:29 */
/* >>>>>> --------------- *Test_Title - R:33 */
/* >>> end */

/* >>>>>> --------------- *H1 */
.blue {

}
test
test
test
test
dafsdaf
/* >>>>>> --------------- *H2 */
.red {
    color: red;
}
test
test
test
/* >>>>>> --------------- *H3 */
.green {
    color: green;
}
/* >>>>>> --------------- *H4 */
.orange {
    color: orange;
}
/* >>>>>> --------------- *Test_Title */
